@import "styles/styles.scss";

.sectionRandomGameDetail {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  min-width: 500px;

  .sectionContentWrapper {
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
  }

  .btnNext {
    background-color: $COLOR_SILVER_PHILIPPINE;
    color: $COLOR_BLACK;

    &:hover {
      background-color: $COLOR_DIRTY_SNOW;
    }
  }

  .noBoardGameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .appFooterWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
