@import "styles/styles.scss";

.FilterGroupBoardGame {
  min-height: 200px;
  @include appBoarder(border-bottom);
  padding: 20px;

  .filterTitle {
    font-size: 20px;
    font-weight: $FONT_WEIGHT_BOLD;
  }

  .textFieldBoardGames {
    margin-top: 10px;
    width: 100%;
  }

  .selectFieldGroup {
    display: flex;
    margin-top: 10px;

    & > :not(:last-child) {
      margin-right: 10px;
    }

    .selectFieldStatus,
    .selectFieldGender {
      width: 120px;
    }
  }

  .btnReset {
    margin-top: 10px;
    width: 75px;
  }
}
