/*=============================================
=                   Natural Colors            =
=============================================*/

$COLOR_WHITE: #ffffff;
$COLOR_PEARL: #f5f6f9;
$COLOR_BRIGHT_GREY: #eeeeee;
$COLOR_DIRTY_SNOW: #cdced6;
$COLOR_SILVER_PHILIPPINE: #b6b6b0;
$COLOR_BLACK: #000000;

/*=============================================
=                  Font Sizes                 =
=============================================*/
$FONT_SIZE_BODY: 14px;
$FONT_SIZE_18: 18px;
$FONT_SIZE_24: 24px;
$FONT_SIZE_20: 20px;

/*=============================================
=                  Font Weights               =
=============================================*/
$FONT_WEIGHT_MEDIUM: 400;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 900;
